<label for="category">Category</label>
<select id="category" name="category">
  <option value="Beverages">Beverages</option>
  <option value="Breads_&_Bakery">Breads / Bakery</option>
  <option value="Dairy" selected>Dairy</option>
  <option value="Deli">Deli</option>
  <option value="Eggs">Eggs</option>
  <option value="Fresh_Produce">Fresh Produce</option>
  <option value="Frozen_Foods">Frozen Foods</option>
  <option value="Meat_&_Seafood">Meat & Seafood</option>
  <option value="Pantry_Items">Pantry Items</option>
  <option value="Prepared_Foods">Prepared Foods</option>
  <option value="Snacks">Snacks</option>
</select>
