<div class="filters-container" id="search-container">
  <p class="filters-text container">Filters:</p>
  <div class="search-container container" >
    <form class="js-search-form" id="search-form" autocomplete="off">
      <div class="search-wrapper">
        <input
          class="search-input"
          name="item-search-value"
          id="search-bar-id"
          type="text"
          placeholder="Search for anything"
        />
        <button class="search-filter-btn" type="submit">
          <svg class="search-filter-icon filters-icon" width="20" height="20">
            <use
              href="./img/icone/symbol-defs.svg#icon-ic_baseline-search-20x20"
            ></use>
          </svg>
        </button>
      </div>
      <div class="categories-wrapper search-wrapper">
        <select id="category-select" class="category-input select-container">
          <option value="Show all">Show all</option>
          <!-- Тут будуть додані категорії динамічно через JavaScript -->
        </select>
      </div>
      <div class="sorting-wrapper search-wrapper">
        <select id="sorting-select" class="sorting-input select-container">
          <option value="byABC">Sort A-Z</option>
          <option value="byPrice">Sort by Price</option>
          <option value="byPopularity">Sort by Popularity</option>
        </select>
      </div>
    </form>
  </div>
</div>
