<div class="filters-container container">
    <p class="filters-text">Filters:</p>
    <div class="search-container">
        <div class="searchbar">
            <form class='js-search-form' id="search-form" autocomplete="off">
                <div class="search-wrapper">
                    <input class="search-input" name="item-search-value" id='search-bar-id' type="text"
                        placeholder="Search for anything">
                    <button class="search-filter-btn" type="submit">
                        <svg class="search-filter-icon" width="14.58" height="14.58">
                            <use href="../img/icone/symbol-defs.svg#icon-ic_baseline-search-20x20"></use>
                        </svg>
                    </button>



                </div>
            </form>

        </div>
        <!-- <div class = "categories-dropdown">
            <button class="dropbtn">Categories
                <svg class = "dropdown-arrow" width = "10" height ="5">
                    <use href = "../img/icone/symbol-defs.svg#icon-chevron-down"></use>
                </svg>
            </button>
            <div class="dropdown-content">
            </div> -->


    </div>
</div>
</div>
</div>


