<footer class="footer container">
  <div class="footer-block">
    <div class="footer-main-info">
      <div class="footer-logo-block">
        <div class="footer-logo">
          <a class="footer-icon" href="">
            <svg class="footer-icon-svg">
              <use
                href="../img/icone/symbol-defs.svg#icon-tdesign_cabbage-mobile"
              ></use>
            </svg>
          </a>
          <a class="footer-logo-text" href="./index.html">Food Boutique</a>
        </div>
        <div class="social">
          <ul class="social-list">
            <li class="social-list-item">
              <a
                target="_blank"
                class="social-link"
                href="https://www.facebook.com/goITclub/"
              >
                <svg class="social-link-icons">
                  <use href="../img/icone/symbol-defs.svg#icon-fb"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a
                target="_blank"
                class="social-link"
                href="https://www.instagram.com/goitclub/"
              >
                <svg class="social-link-icons">
                  <use href="../img/icone/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a
                target="_blank"
                class="social-link"
                href="https://www.youtube.com/c/GoIT"
              >
                <svg class="social-link-icons">
                  <use href="../img/icone/symbol-defs.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="tablet-disc-form">
        <div class="footer-desc-block">
          <h1 class="footer-sub-title">
            Discover the Variety of Flavors and Quality
          </h1>
          <p class="footer-desc-text">
            An online store where you will find fresh, natural and delicious
            products for a healthy life and unforgettable gastronomic
            adventures.
          </p>
        </div>
        <div class="footer-sub-form-block">
          <p class="form-title">Subscribe and learn about new products!</p>
          <form action="submit" class="footer-sub-form">
            <label class="submit-label">
              <input
                class="footer-email-input"
                type="email"
                name="email-submit"
                placeholder="Email"
                pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
              />
            </label>
            <button type="submit" class="footer-sub-btn js-sub-btn">
              Send
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="sec-info">
      <p class="footer-serv">Food Boutique. All rights reserved.</p>
      <div class="pr-term">
        <p class="privacy">Privacy Policy</p>
        <p>/</p>
        <p class="terms">Terms of Service</p>
      </div>
    </div>
  </div>
</footer>
