<header class="header">
  <nav class="container header-container">
    <a class="header-logo" href="./index.html">
      <svg class="header-logo-box">
        <use
          class="logo"
          href="./img/icone/symbol-defs.svg#icon-tdesign_cabbage"
          width="20"
          hight="20"
        ></use>
      </svg>
      <span class="text-logo">Food Boutique</span>
    </a>

    <ul class="list header-nav">
      <li>
        <a href="./index.html" class="home-btn"
          ><span class="home-btn-text">Home</span></a
        >
      </li>
      <li>
        <a class="header-logo" href="cart-page.html">
          <svg class="header-logo-box">
            <use
              class="logo"
              href="./img/icone/symbol-defs.svg#icon-heroicons-solid_shopping-cart-18x18"
              width="20"
              hight="20"
            ></use>
          </svg>
          <span class="cart-btn">Cart (0)</span></a
        >
      </li>
    </ul>
  </nav>
</header>
