<a href="#" class="modal-link" data-modal="food"></a>
<a href="#" class="modal-link" data-modal="new-products"></a>
<a href="#" class="modal-link" data-modal="email "></a>
<a href="#" class="modal-link" data-modal="order-success"></a>
<div class="overlay"></div>

<!-- Вікно на продуктову картку -->

<div class="modal-window modal-food" data-modal="food">
  <svg class="modal-close-sharp-box js-modal-close">
    <use
      class="modal-close-sharp"
      href="./img/icone/symbol-defs.svg#icon-close-sharp"
      width="22"
      hight="22"
    ></use>
  </svg>
</div>

<!-- Підписка на нові продукти -->
<div class="modal-window modal-new-products" data-modal="new-products">
  <svg class="modal-close-sharp-box js-modal-close">
    <use
      class="modal-close-sharp"
      href="./img/icone/symbol-defs.svg#icon-close-sharp"
      width="22"
      hight="22"
    ></use>
  </svg>
  <h2 class="modal-new-products-title">
    Thanks for subscribing for <span class="modal-span">new</span> products
  </h2>
  <p class="modal-new-products-text">
    We promise you organic and high-quality products that will meet your
    expectations. Please stay with us and we promise you many pleasant
    surprises.
  </p>
  <div class="modal-img">
    <picture>
      <!-- Tablet & Desktop screen -->
      <source
        media="(min-width: 768px)"
        width="490"
        srcset="../img/modal/modal.png 1x, ../img/modal/modal.png 2x"
      />
      <!-- Mobile screen -->
      <source
        media="(max-width: 767px)"
        width="335"
        srcset="
          ../img/modal/modal-mobile.png 1x,
          ../img/modal/modal-mobile.png 2x
        "
      />
      <img src="../img/modal/modal-mobile.png" alt="vegetables in a box" />
    </picture>
  </div>
</div>

<!-- Вікно у футері -->
<div class="modal-window modal-email" data-modal="email ">
  <svg class="modal-close-sharp-box js-modal-close">
    <use
      class="modal-close-sharp"
      href="./img/icone/symbol-defs.svg#icon-close-sharp"
    ></use>
  </svg>
  <h2 class="modal-new-products-title">
    This <span class="modal-span">email address</span> has already been entered
  </h2>
  <p class="modal-new-products-text">
    You have already subscribed to our new products. Watch for offers at the
    mailing address.
  </p>
</div>

<!-- Вікно в корзині -->
<div class="modal-window modal-order-success" data-modal="order-success">
  <svg class="modal-close-sharp-box js-modal-close">
    <use
      class="modal-close-sharp"
      href="./img/icone/symbol-defs.svg#icon-close-sharp"
    ></use>
  </svg>
  <div class="modal-success-img">
    <picture>
      <img
        width="140"
        srcset="
          ../img/modal/image-success.png 1x,
          ../img/modal/image-success.png 2x
        "
        src="../img/modal/image-success.png"
        alt="tomato"
      />
    </picture>
  </div>
  <h2 class="modal-text-uppercase">Order success</h2>
  <p class="modal-new-products-text">
    Thank you for shopping at Food Boutique. Your order has been received and is
    now being freshly prepared just for you! Get ready to indulge in nourishing
    goodness, delivered right to your doorstep. We're thrilled to be part of
    your journey to better health and happiness.
  </p>
</div>




<!-- МОДАЛЬНЕ ВІКНО  -->

<div class="container">
    <h1>Модальное окно</h1>

    <button id="open-modal-btn">Відкрити модальне вікно</button>
</div>

<div class="modal" id="my-modal">
    <div class="modal__box">
        <button class="modal__close-btn" id="close-my-modal-btn">
            <svg class="close-modal-btn" width="14" height="14">
              <use href="../img/icone/symbol-defs.svg#icon-ion_close-sharp"></use>
            </svg>
        </button>
<svg class="success-svg" width="140" height="140">
<use href="../img/icone/symbol-defs.svg#icon-order-placed-purchased-icon"></use>
</svg>            <h2 class="order-success-title">Order success</h2>

        <p class="order-success-text">Thank you for shopping at Food Boutique. Your order has been received and is now being freshly prepared just for you! Get ready to indulge in nourishing goodness, delivered right to your doorstep. We're thrilled to be part of your journey to better health and happiness.</p>
    </div>
</div>