<div class="list-modal" id="list-modal">
  <div class="modal-li">
    <svg width="15" height="15" id="close-modal">
      <use href="public/favicon.svg#Vector"></use>
    </svg>
  </div>
</div>

<a href="#" class="modal-link" data-modal="food"></a>
<a href="#" class="modal-link" data-modal="new-products"></a>
<!-- <a href="#" class="modal-link" data-modal="email "></a> -->
<a href="#" class="modal-link" data-modal="order-success"></a>

<!-- Вікно на продуктову картку -->

<!-- <div class="modal-window modal-food" data-modal="food">
  <svg class="modal-close-sharp-box js-modal-close">
    <use
      class="modal-close-sharp"
      href="./img/icone/symbol-defs.svg#icon-close-sharp"
      width="22"
      hight="22"
    ></use>
  </svg>
  <div class="modal-main-block">
    <div class="modal-product-img-box">
      <img
        class="modal-product-img"
        src="../img/modal/image-success.png"
        alt="name"
      />
    </div>
    <div class="modal-info-box">
      <div class="modal-info-id">
        <h1 class="modal-name-id">name</h1>
        <ul class="modal-text-box">
          <li class="modal-text-box-item">
            <p class="modal-text-id">
              Category: <span class="modal-text-span-id"></span>category
            </p>
          </li>
          <li class="modal-text-box-item">
            <p class="modal-text-id">
              Size: <span class="modal-text-span-id"></span>size
            </p>
          </li class="modal-text-box-item">
          <li>
            <p class="modal-text-id">
              Popularity: <span class="modal-text-span-id"></span>popularity
            </p>
          </li>
        </ul>
      </div>
      <p class="modal-product-descr">describe</p>
    </div>
  </div>
  <div class="modal-nav"></div>
</div> -->

<!-- Підписка на нові продукти -->
<div class="modal-window modal-new-products" data-modal="new-products">
  <svg class="modal-close-sharp-box js-modal-close">
    <use
      class="modal-close-sharp"
      href="./img/icone/symbol-defs.svg#icon-close-sharp"
      width="22"
      hight="22"
    ></use>
  </svg>
  <h2 class="modal-new-products-title">
    Thanks for subscribing for <span class="modal-span">new</span> products
  </h2>
  <p class="modal-new-products-text">
    We promise you organic and high-quality products that will meet your
    expectations. Please stay with us and we promise you many pleasant
    surprises.
  </p>
  <div class="modal-img">
    <picture>
      <!-- Tablet & Desktop screen -->
      <source
        media="(min-width: 768px)"
        width="490"
        srcset="./img/modal/modal.png 1x, ./img/modal/modal.png 2x"
      />
      <!-- Mobile screen -->
      <source
        media="(max-width: 767px)"
        width="335"
        srcset="
          ./img/modal/modal-mobile.png 1x,
          ./img/modal/modal-mobile.png 2x
        "
      />
      <img src="./img/modal/modal-mobile.png" alt="vegetables in a box" />
    </picture>
  </div>
</div>

<!-- Вікно в корзині -->
<!-- <div class="modal-window modal-order-success" data-modal="order-success">
  <svg class="modal-close-sharp-box js-modal-close">
    <use
      class="modal-close-sharp"
      href="./img/icone/symbol-defs.svg#icon-close-sharp"
    ></use>
  </svg>
  <div class="modal-success-img">
    <svg>
      <use
        href="./img/icone/symbol-defs.svg#icon-order-placed-purchased-icon"
      ></use>
    </svg>
     <picture>
      <img
        width="140"
        srcset="
          ./img/modal/image-success.png 1x,
          ./img/modal/image-success.png 2x
        "
        src="./img/modal/image-success.png"
        alt="tomato"
      />
    </picture>
</div>
  <h2 class="modal-text-uppercase">Order success</h2>
  <p class="modal-new-products-text">
    Thank you for shopping at Food Boutique. Your order has been received and is
    now being freshly prepared just for you! Get ready to indulge in nourishing
    goodness, delivered right to your doorstep. We're thrilled to be part of
    your journey to better health and happiness.
  </p>
</div> -->
