<div class="no-results-container container visually-hidden">
  <p class="no-results-text">
    Nothing was found for the selected
    <span class="filter-word">filters...</span>
  </p>
  <p class="adjust-text">
    Try adjusting your search parameters or browse our range by other criteria
    to find the perfect product for you.
  </p>
</div>
<div id="products-list-container">
  <!-- Тут буде рендеритися список продуктів -->
</div>
<!-- Контейнер для пагінації -->
<div id="tui-pagination-container" class="tui-pagination"></div>
