/**
  |============================
  | VARIABLES
  |============================
*/
:root {
  /* colors */
  --main-text-color: #010101;
  --main-background-color: #e8e8e2;
  --olive: #6d8434;
  --add-text-color: rgba(1, 1, 1, 0.3);
  --gray98: #fafafa;
  --light-violet: #9747ff;
  --white: #fff;

  /* others */
  --indent: 20px;
  --items: 2;
  --animation: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

/**
  |============================
  | FONTS
  |============================
*/

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--white);
  background-color: var(--black);
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Phone screens */
.container {
  min-width: 320px;
  max-width: 375px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;

  /* Рамки, які підсвічують наш контейнер */
  /* outline: 2px solid red;
    outline-offset: -2px; */
}
/* Tablet screens */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;

    padding-left: 32px;
    padding-right: 32px;
  }
}
/* Desctop screens */
@media screen and (min-width: 1240px) {
  .container {
    max-width: 1240px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* Приховані елементи */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
