/**
  |============================
  | VARIABLES
  |============================
*/
:root {
  /* colors */
  --main-text-color: #010101;
  --main-background-color: #e8e8e2;
  --olive: #6d8434;
  --add-text-color: rgba(1, 1, 1, 0.3);
  --gray98: #fafafa;
  --light-violet: #9747ff;
  --white: #fff;

  /* others */
  --indent: 20px;
  --items: 2;
  --animation: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

/**
  |============================
  | FONTS
  |============================
*/

@font-face {
  font-family: 'Neue Montreal';
  src: local('Neue Montreal Regular'), local('Neue-Montreal-Regular'),
    url('../fonts/NeueMontreal-Regular.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Regular.woff') format('woff'),
    url('../fonts/NeueMontreal-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: local('Neue Montreal Medium'), local('Neue-Montreal-Medium'),
    url('../fonts/NeueMontreal-Medium.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Medium.woff') format('woff'),
    url('../fonts/NeueMontreal-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville Bold';
  src: local(baskerville-bold) url('../fonts/baskerville-bold.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/baskerville-bold.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/baskerville-bold.woff2') format('woff2'); /* Modern Browsers */
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Neue Montreal', 'DM Sans', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Phone screens */
.container {
  min-width: 320px;
  max-width: 375px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;

  /* Рамки, які підсвічують наш контейнер */
  /* outline: 2px solid red;
  outline-offset: -2px; */
}
/* Tablet screens */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;

    padding-left: 32px;
    padding-right: 32px;
  }
}
/* Desctop screens */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
  }
  .main-box {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    /* justify-content: center; */
    gap: 40px;
    /* outline: 2px solid purple;
    outline-offset: -2px; */
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
  }

  .products-list-and-pagination {
    /* outline: 2px solid green;
    outline-offset: -2px; */
  }

  .side-bar {
    max-width: 275px;
    /* outline: 2px solid greenyellow;
    outline-offset: -2px; */
  }
}

/* Приховані елементи */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
