.cart-page-section {
  padding-top: 48px;
  padding-bottom: 80px;
  /* padding-left: 32px; */
  /* padding-right: 32px; */
}

@media screen and (min-width: 768px) {
  .cart-page-section {
    padding-top: 75px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1440px) {
    .cart-page-section {
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 57px;
    }
  }
}

.cart-wrap-title {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .cart-wrap-title {
    margin-bottom: 21px;
  }
}

.cart-page-shop-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: var(--olive);
  border-radius: 50%;
}

.cart-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  text-transform: uppercase;

  /* @include tablet() {
    font-size: 32px;
    line-height: 1;
  } */
}

@media screen and (min-width: 768px) {
  .cart-title {
    font-size: 32px;
    line-height: 1;
  }
}

.cart-icon {
  fill: var(--white);
}

.delete-all-btn-wrap {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 6px;
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .delete-all-btn-wrap {
    padding-right: 32px;
    margin-bottom: 46px;
  }
}

@media screen and (min-width: 1440px) {
  .delete-all-btn-wrap {
    width: 500px;
    margin-bottom: 44px;
    padding-right: 0;
  }
}

.delete-all-btn {
  display: flex;
  align-items: center;
  gap: 7px;
  width: 88px;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}

@media screen and (min-width: 768px) {
  .delete-all-btn {
    width: 96px;
    gap: 8px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.delete-all-btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

/* ============ Main content ============= */

.cart-main-content {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media screen and (min-width: 768px) {
  .cart-main-content {
    gap: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .cart-main-content {
    flex-direction: row;
    gap: 101px;
  }
}

.scroll-container {
  /* outline: 1px solid green; */
  /* padding-right: 12px; */
  max-width: 347px;
  height: 420px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
  .scroll-container {
    width: 720px;
    height: 520px;
    padding-right: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .scroll-container {
    max-width: 549px;
    padding-right: 49px;
  }
}

.scroll-container::-webkit-scrollbar {
  width: 5px;
}

@media screen and (min-width: 768px) {
  .scroll-container::-webkit-scrollbar {
    width: 9px;
  }
}

.scroll-container::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgba(1, 1, 1, 0.08);
}

.cart-list {
  height: 420px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .cart-list {
    height: 520px;
  }
}

.cart-item-info-wrap {
  display: flex;
  gap: 20px;
}

.delete-product-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 5px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  z-index: 1000;
}

@media screen and (min-width: 768px) {
  .delete-product-btn {
    right: -6px;
  }
}

@media screen and (min-width: 1440px) {
  .delete-product-btn {
    right: -6px;
  }
}

.cart-item {
  position: relative;
  height: 130px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);
}

@media screen and (min-width: 768px) {
  .cart-item {
    height: 160px;
    padding-bottom: 40px;
  }
}

.cart-item:last-child {
  padding-bottom: 0;
  height: 100px;
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .cart-item:last-child {
    height: 120px;
  }
}

.cart-img-wrap-bgc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background: var(--gray98);
}

@media screen and (min-width: 768px) {
  .cart-img-wrap-bgc {
    width: 120px;
    height: 120px;
  }
}

.cart-img-thumb {
  width: 64px;
  height: 64px;
}

@media screen and (min-width: 768px) {
  .cart-img-thumb {
    width: 72px;
    height: 72px;
  }
}

.cart-item-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .cart-item-title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 12px;
  }
}

.cart-text-wrap {
  margin-bottom: 36px;
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .cart-text-wrap {
    margin-bottom: 46px;
    gap: 16px;
  }
}

.cart-item-text {
  font-size: 12px;
  line-height: 1.16;
}

.cart-light-text {
  color: var(--add-text-color);
}

.cart-item-price {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

@media screen and (min-width: 768px) {
  .cart-item-price {
    font-size: 20px;
    line-height: 1.2;
  }
}

/* =========== ORDER CONTENT ============= */

.order-content {
  display: flex;
  flex-direction: column;
  /* outline: 2px solid greenyellow; */
}

@media screen and (min-width: 768px) {
  .order-content {
    width: 590px;
  }
}

.order-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  text-transform: uppercase;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .order-title {
    font-size: 32px;
    font-style: normal;
    line-height: 1;
  }
}

.total-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 18px;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background: rgba(109, 132, 52, 0.05);

  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .total-wrap {
    padding-right: 28px;
    padding-left: 28px;
    margin-bottom: 40px;
    width: 590px;
  }
}

.text-total {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

@media screen and (min-width: 768px) {
  .text-total {
    font-size: 20px;
    line-height: 1.2;
  }
}

.total-price-text {
  font-size: 24px;
  line-height: 1.16;
}

.total-light-text {
  color: rgba(1, 1, 1, 0.2);
  font-size: 12px;
}

.order-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .order-form {
    flex-direction: row;
    gap: 16px;
    height: 54px;
  }
}

.order-label {
  position: absolute;
  top: 13px;
  left: 20px;
  color: rgba(1, 1, 1, 0.5);
  font-size: 14px;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .order-label {
    top: 15px;
    font-size: 18px;
    line-height: 1.33;
  }
}

.order-form-input {
  width: 100%;
  height: 42px;
  padding: 12px 23px 12px 56px;
  border-radius: 30px;
  border: 1px solid var(--add-text-color);
  background-color: transparent;
  outline: none;
}

@media screen and (min-width: 768px) {
  .order-form-input {
    width: 359px;
    height: 100%;
    padding-left: 63px;
  }
}

.order-form-input::placeholder {
  color: #010101;
  font-size: 14px;
  line-height: 1.28;
}

@media screen and (min-width: 768px) {
  .order-form-input::placeholder {
    font-size: 18px;
    line-height: 1.33;
  }
}

.order-btn-submit {
  width: 100%;
  height: 42px;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: var(--olive);

  color: var(--main-background-color);
  font-size: 14px;
  line-height: 1.28;

  transition: background var(--animation);
}

.order-btn-submit:is(:hover, :focus) {
  background-color: #586f1f;
}

@media screen and (min-width: 768px) {
  .order-btn-submit {
    width: 215px;
    height: 100%;
    padding: 15px;
    font-size: 20px;
    line-height: 1.2;
  }
}

/* =empty-basket= */

.empty-basket-wrap {
  padding-top: 86px;
  padding-bottom: 40px;
  width: 100%;
  height: 338px;
}

.empty-basket-content {
  width: 279px;
  height: 212px;
  margin: 0 auto;
}

.basket_svg {
  fill: var(--main-background-color);
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: var(--olive);
  transition: background-color 0.3s ease;
}

.basket_text {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  color: var(--main-text-color);
}

.basket_img {
  margin: auto;
  margin-bottom: 28px;
}

.basket_container_text {
  max-width: 279px;
  margin: auto;
  text-align: center;
}

.basket_title {
  color: var(--main-text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 14px;
}

.basket_title_span {
  color: var(--olive);
}

.basket-text {
  color: rgba(1, 1, 1, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

@media screen and (min-width: 768px) {
  .empty-basket-wrap {
    padding-top: 109px;
    padding-bottom: 20px;
    height: 395px;
  }

  .empty-basket-content {
    width: 387px;
    height: 266px;
    /* padding-top: 109px;
    padding-bottom: 20px; */
  }

  .basket_text {
    font-size: 32px;
    line-height: 1;
  }

  .basket_img {
    margin-bottom: 40px;
    width: 164px;
    height: 140px;
  }

  .basket_container_text {
    max-width: 387px;
  }

  .basket_title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .basket-text {
    font-size: 18px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1440px) {
  .empty-basket-wrap {
    padding-top: 129px;
    padding-bottom: 50px;
    height: 391px;
  }
}

.is-hidden {
  display: none;
}

.is-visible {
  display: block;
}

.close-svg {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.checkout-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99998;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: grid;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
}

.checkout-modal.open {
  visibility: visible;
  opacity: 1;
}

.checkout-modal-interface {
  width: 335px;
  height: 428px;
  z-index: 1;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 20px;
  background: #e8e8e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container-modal-cart {
  margin-top: 40px;
  margin-bottom: 40px;
}

.text-container-modal-cart {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title-modal-cart {
  color: #010101;
  font-family: 'Neue Montreal';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.p-modal-cart {
  width: 295px;
  color: rgba(1, 1, 1, 0.7);
  text-align: center;
  font-family: 'Neue Montreal';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

@media only screen and (min-width: 768px) {
  .close-svg {
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
  }
  .checkout-modal-interface {
    width: 560px;
    height: 509px;
  }
  .image-container-modal-cart {
    margin-top: 80px;
    margin-bottom: 37px;
  }
  .title-modal-cart {
    font-size: 32px;
    line-height: 32px;
  }
  .p-modal-cart {
    width: 480px;
    font-size: 18px;
    line-height: 24px;
  }
}
