.js-search-form {
    display: flex;
    gap: 12px;
    flex-direction: column;
}
@media only screen and (min-width: 768px) {
    .js-search-form {
        flex-direction: row;
gap: 8px;
    }
    .search-wrapper {
        width: 269px;
    }
.categories-dropdown-wrapper {
    width: 189px;
}
.a-to-z-wrapper {
    width: 200px;
}
}

.filters-text {
    color: var(--add-text-color);
    font-size: 14px;
    margin-bottom: 8px;
}

.filters-container{
    margin-bottom: 40px;
}
@media only screen and (min-width: 1440px) {
    .filters-container {
margin-bottom: 0;
    } 
}

input {
    outline-color: none;
    background-color: transparent;
    border: none;
    height: 100%;
    flex-grow: 1;
    font-size: 18px;
    color: var(--main-text-color);
}

input:focus {
    outline: none;
}

.search-filter-icon {
    fill: var(--main-text-color);
}

.search-filter-btn {
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
}

.search-wrapper {
    height: 48px;
    padding: 14px 20px;
    border-radius: 30px;
    border: 1px solid var(--add-text-color);
    outline-color: none;
    cursor: text;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media only screen and (min-width: 768px) {
    .search-wrapper {
        height: 52px;
    }
}

.search-wrapper:hover,
.search-wrapper:focus {
    border: 1px solid var(--olive);
}

::placeholder {
    color: #010101;
font-family: Neue Montreal;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.29em;
}

@media only screen and (min-width: 768px) {
    ::placeholder {
font-size: 18px;
font-style: normal;
line-height: 1.33em;
    }
}



.no-results-text {
    font-weight: 500;
    width: 367px;
    color: var(--main-text-color);

    font-size: 18px;
    line-height: 1.11em;
    margin: 0 auto;
    margin-bottom: 14px;
    width: 261px;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .no-results-text {
        font-size: 20px;
        line-height: 1.2em;
        width: 100%;
    }
}


.filter-word {
    color: var(--olive);
    align-items: center;
}

.adjust-text {
    /* font-size: 18px; */
    color: rgba(1, 1, 1, 0.7);
    text-align: center;
    color: rgba(1, 1, 1, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29em;
    width: 279px;
}
@media only screen and (min-width: 768px) {
    .adjust-text {
        font-size: 18px;
        line-height: 1.33em;
        width: 371px;
    }
}

.search-container {
    margin-bottom: 40px;
}
@media only screen and (min-width: 1440px) {
    .search-container {
        margin-bottom: 0;
    }
}