.header {
}

.header-container {
  padding: 24px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header-logo-box {
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--olive);
  width: 32px;
  height: 32px;
  padding-left: 6px;
  fill: var(--main-background-color);
}

.logo {
  align-content: center;
}

.text-logo {
  font-family: 'Baskerville Bold', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.6;
  letter-spacing: -0.08em;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.home-btn {
  display: flex;
  padding: 12px 28px;
  background-color: var(--olive);
  border-radius: 30px;
}

.home-btn-text {
  color: var(--main-background-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33; /* 133.333% */
}

.cart-btn {
  color: var(--main-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
}
