.header {
}

.header-container {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header-logo-box {
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--olive);
  width: 32px;
  height: 32px;
  padding-left: 6px;
  fill: var(--main-background-color);
}

.logo {
  align-content: center;
}

.text-logo {
  font-family: 'Baskerville Bold', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.6;
  letter-spacing: -0.08em;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.home-btn {
  display: flex;
  padding: 10px 20px;
  background-color: var(--olive);
  border-radius: 30px;
}

.home-btn-text {
  color: var(--main-background-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33; /* 133.333% */
}

.cart-btn {
  display: none;
}

/* Tablet screens */
@media screen and (min-width: 768px) {
  .text-logo {
    font-size: 24px;
  }

  .header-nav {
    gap: 16px;
  }

  .home-btn {
    padding: 12px 28px;
  }

  .cart-btn {
    font-size: 18px;
  }

  .cart-btn {
    display: block;
    color: var(--main-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.33;
    text-transform: uppercase;
  }
}

/* Desctop screens */
@media screen and (min-width: 1440px) {
  .header-container {
    padding: 24px 100px;
  }

  .header-nav {
    gap: 24px;
  }
}
