.hero {
  padding-top: 72px;
  padding-bottom: 74px;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 116px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    padding-top: 78px;
  }
}
.hero-title {
  color: var(--main-text-color);
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 1.09;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 658px;
    margin: 0 auto;
    font-size: 80px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-title {
    max-width: 1074px;
    font-size: 80px;
    font-weight: 500;
    line-height: 1;
  }
}

.hero-focus {
  color: var(--olive);
}

.hero-subtitle {
  color: rgba(1, 1, 1, 0.8);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .hero-subtitle {
    max-width: 497px;
    margin: 0 auto;

    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 40px;
  }
}

.hero-img img {
  border-radius: 30px;
  margin: 0 auto;
}

.hero-img {
  position: relative;
}

@media only screen and (min-width: 1440px) {
  .hero-img {
    width: 1240px;
    margin: 0 auto;
  }
}
.icon-organic-food {
  position: absolute;
  top: -8px;
  right: 8px;
}

@media only screen and (min-width: 768px) {
  .icon-organic-food {
    top: -30px;
    right: 10px;
  }
}

@media only screen and (min-width: 1440px) {
  .icon-organic-food {
    top: -50px;
    right: 20px;
  }
}
