.modal-link {
  display: block;
}

.overlay {
  position: fixed;
}

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background: var(--main-background-color);
}

/* Phone screens */

/* Вікно на продуктову картку */
.modal-food {
  display: none;
  background: var(--gray98);
  width: 335px;
  height: 535px;
  padding: 40px 20px;
}

.modal-close-sharp-box {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  padding: 2px;
  top: 14px;
  right: 14px;
  fill: var(--main-text-color);
  cursor: pointer;
}

.modal-close-sharp {
  scale: 0.8;
}

/* Підписка на нові продукти */
.modal-new-products {
  display: none;
  width: 335px;
  height: 400px;
  padding: 100px 44px;
}

.modal-new-products-title {
  color: var(--main-text-color);
  display: block;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  margin-bottom: 14px;
}

.modal-span {
  color: var(--olive);
}

.modal-new-products-text {
  color: var(--paragraf-text);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
}

.modal-img {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 335px;
}

/* Вікно у футері */
.modal-email {
  display: none;
  width: 335px;
  height: 276px;
  padding: 80px 44px;
}

/* Вікно в корзині */
.modal-order-success {
  display: block;
  width: 335px;
  height: 428px;
  padding: 220px 20px 60px 20px;
}

.modal-success-img {
  display: block;
  position: absolute;
  top: 40px;
  left: 95px;
}

.modal-text-uppercase {
  text-transform: uppercase;
  color: var(--main-text-color);
  display: block;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  margin-bottom: 14px;
}

/* Tablet screens */
@media screen and (min-width: 768px) {
  .modal-food {
    height: 380px;
    padding: 40px;
  }

  .modal-close-sharp-box {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
  }

  .modal-new-products {
    width: 490px;
    height: 400px;
    padding: 90px 81px;
  }

  .modal-new-products-title {
    font-size: 24px;
    width: 245px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .modal-new-products-text {
    font-size: 16px;
  }

  .modal-img {
    width: 490px;
  }

  .modal-order-success {
    display: none;
    width: 560px;
    height: 509px;
    padding: 257px 40px 80px 40px;
  }

  .modal-success-img {
    display: block;
    position: absolute;
    top: 80px;
    left: 210px;
  }

  .modal-text-uppercase {
    font-size: 32px;
  }
}







/**
  |============================
  | CART MODAL
  |============================
*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 335px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;

    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform .8s;
}
@media only screen and (min-width: 768px) {
    .modal__box {
        padding: 80px 40px;
        max-width: 560px;
    }
}

.modal__close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    height: 22px;
    width: 22px;
    fill: black;
    stroke: black;
}

.modal__close-btn svg path {
    transition: fill .4s;
}

.modal__close-btn:hover svg path {
    fill: blue;
}

.modal__close-btn:active svg path {
    fill: rgb(186, 53, 0);
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1);
}

.order-success-title {
    margin-top: 40px;
    color: #010101;
font-family: Neue Montreal;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 111.111% */
text-transform: uppercase;
}
.order-success-text {
    text-align: center;
    margin-top: 20px;
    color: rgba(1, 1, 1, 0.70);
text-align: center;
font-family: Neue Montreal;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
}
@media only screen and (min-width: 768px) {
    .order-success-title {
        color: #010101;
font-family: Neue Montreal;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 100% */
text-transform: uppercase;
    }
    .order-success-text {
        color: rgba(1, 1, 1, 0.70);
        text-align: center;
        font-family: Neue Montreal;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 133.333% */ 
    }
}

