.modal-link {
  display: block;
}

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background: var(--main-background-color);
}

/* Phone screens */

.modal-food {
  display: none;
  background: var(--gray98);
  width: 335px;
  height: 535px;
  padding: 40px 20px;
}

.modal-close-sharp-box {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  padding: 2px;
  top: 14px;
  right: 14px;
  fill: var(--main-text-color);
  cursor: pointer;
}

.modal-close-sharp {
  scale: 0.8;
}

.modal-new-products {
  display: none;
  width: 335px;
  height: 400px;
  padding: 100px 44px;
}

.modal-new-products-title {
  color: var(--main-text-color);
  display: block;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  margin-bottom: 14px;
}

.modal-span {
  color: var(--olive);
}

.modal-new-products-text {
  color: var(--paragraf-text);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
}

.modal-img {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 335px;
}

.modal-email {
  display: none;
  width: 335px;
  height: 276px;
  padding: 80px 44px;
}

.modal-order-success {
  display: none;
  width: 335px;
  height: 428px;
  padding: 220px 20px 60px 20px;
}

.modal-success-img {
  display: block;
  position: absolute;
  top: 40px;
  left: 95px;
}

.modal-text-uppercase {
  text-transform: uppercase;
  color: var(--main-text-color);
  display: block;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  margin-bottom: 14px;
}

/* Tablet screens */
@media screen and (min-width: 768px) {
  .modal-food {
    height: 380px;
    padding: 40px;
  }

  .modal-close-sharp-box {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
  }

  .modal-new-products {
    width: 490px;
    height: 400px;
    padding: 90px 81px;
  }

  .modal-new-products-title {
    font-size: 24px;
    width: 245px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .modal-new-products-text {
    font-size: 16px;
  }

  .modal-img {
    width: 490px;
  }

  .modal-order-success {
    display: block;
    width: 560px;
    height: 509px;
    padding: 257px 40px 80px 40px;
  }

  .modal-success-img {
    display: block;
    position: absolute;
    top: 80px;
    left: 210px;
  }

  .modal-text-uppercase {
    font-size: 32px;
  }
}
