.popular-container {
  min-width: 320px;
  max-width: 375px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;

  margin-bottom: 80px;
  /* margin-top: 80px; */
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .popular-container {
    max-width: 768px;

    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 64px;
    /* margin-top: 100px; */
  }
}

@media only screen and (min-width: 1440px) {
  .popular-container {
    padding: 0;
    min-width: 275px;
    margin-top: 60px;
    margin-bottom: 0;
  }
}

.popular-products-title {
  color: var(--main-text-color);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;

  margin-bottom: 20px;
}
.popular-product-list {
  max-width: 335px;
  display: flex;
  margin-bottom: 14px;
  flex-direction: column;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .popular-product-list {
    max-width: 564px;
    height: 320px;
    flex-wrap: wrap;
    gap: 13px;
    margin: 0;

    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1440px) {
  .popular-product-list {
    margin-bottom: 40px;
  }
}
.popular-product-item {
  max-width: 335px;
  height: 98px;
  border-radius: 10px;
  background: var(--gray98);
  padding: 12px;
  margin-bottom: 14px;
}
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .popular-product-item {
    max-width: 275px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .popular-product-item:last-child {
    margin-bottom: 0;
  }
  .popular-product-item {
    margin-bottom: 13px;
  }
}

.popular-modal {
  display: flex;
}
.popular-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;
  border-radius: 10px;
  background-color: var(--main-background-color);
  margin-bottom: 20px;
}
.popular-photo-item {
  margin: 0 auto;
}
.about-popular {
  margin-left: 10px;
  width: 152px;
  height: 14px;
  flex-wrap: wrap;
  display: flex;
  gap: 9px;
}

@media only screen and (min-width: 768px) {
  .about-popular {
    gap: 6px;
  }
}

.name-popular-product {
  color: var(--main-text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 3px;
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .name-popular-product {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    margin-bottom: 0;
  }
}

.subname-popular-product {
  color: var(--add-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
}
.id-subname {
  color: var(--main-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
}
.popular-cart-btn {
  width: 20px;
  height: 20px;
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--main-background-color);
  border: none;
    margin-left: auto;
}
.list-cart-svg-list{
  width: 100%; /* Займає увесь простір кнопки */
  height: auto; /* Зберігає пропорції */
}
.olive{
  fill: var(--olive); /* Колір іконки, якщо потрібно */
}
@media only screen and (min-width: 768px) {
  .popular-cart-btn {
    margin-left: 0;
  }
}
