.scroll-up {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 111;
  width: 50px;
  height: 50px;
  cursor: pointer;
  visibility: hidden;
  border-radius: 50%;
  background: #86926993;
  box-shadow: inset 0 0 0 0 #707a58;
  opacity: 0;
  transition: 0.2s;
  transform: translateY(25px);
}
@media only screen and (min-width: 425px) {
  .scroll-up {
    right: 15px;
    bottom: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .scroll-up {
    right: 25px;
    bottom: 25px;
    width: 60px;
    height: 60px;
  }
}
@media only screen and (min-width: 1440px) {
  .scroll-up {
    right: 30px;
    bottom: 30px;
    width: 70px;
    height: 70px;
  }
}

.scroll-up::before, .scroll-up-arrow {
  position: absolute;
  top: 19%;
  left: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  /* font-size: 30px; */
  /* content: '↑'; */
}
@media only screen and (min-width: 768px) {
    .scroll-up-arrow {
    top: 20%;
    left: 22%;
    height: 35px;
    width: 35px;
    }
}

@media only screen and (min-width: 1440px) {
  .scroll-up-arrow {
    top: 19%;
    left: 19%;
    height: 45px;
    width: 45px;
  }
}

.scroll-up--active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.scroll-up:hover {
  background: #707a5894;
  box-shadow: 0 0 8px rgba(84, 99, 48, 0.7);
}

.scroll-up__svg-path {
  box-sizing: border-box;
  fill: none;
  stroke: #5463307b;
  stroke-width: 4px;
  transition: 0.2s;
  filter: blur(2px);
}