.top-btn {
  all: unset;
  font-size: 1.5rem;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  transform: scale(1.8);
  /* opacity: 0; */
  transition: all 0.3s;
  width: 16px;
  height: 16px;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--add-text-color);
  border: none;
  z-index: 1111;
}

@media screen and (min-width: 768px) {
  .top-btn {
    width: 18px;
    height: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .top-btn {
    width: 20px;
    height: 20px;
  }
}
